.dropDown{
    overflow: hidden;
    position: relative;
}
/* dropdown title styles */
.dropTitle{
    display: grid;
    grid-template-areas: "text chevron";
    align-items: center;
    background-color: #ff6060;
    color: white;
    cursor: pointer;
    font-weight: 500;
}
.dropTi-aPropos{
    font-size: 24px;
    padding: 6px 16px 6px 18px;
    border-radius: 5px;
}
.dropTi-detail{
    height: 25px;
    font-size: 18px;
    padding: 13px 18px 13px 20px;
    border-radius: 10px;
}
.dropDown-chevron{
    justify-self: end;
    height: 15px;
    width: 24px;
}
/* Dropdown text styles */
.dropText{
    overflow: hidden;
    color: #ff6060;
    background-color: #F6F6F6;
    line-height: 142.6%; 
}

.dropTe-aPropos{
    font-size: 24px;
    padding: 36px 27px 19px 18px;
}
.dropTe-detail{
    font-size: 18px;
    padding: 40px 20px 27px 20px;
}
@media only screen and (max-width: 1100px) {
    .dropTi-aPropos{
        font-size: 18px;
    }
    .dropTi-detail{
        font-size: 18px;
        padding: 8px 14px 8px 14px;
        border-radius: 5px;
    }
    .dropTe-aPropos{
        font-size: 16px;
    }
    .dropTe-detail{
        font-size: 16px;
        padding: 23px 12px 10px 12px;
    }
    .dropDown-chevron{
        height: 11px;
        width: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .dropTi-aPropos{
        font-size: 13px;
    }
    .dropTi-detail{
        font-size: 13px;
        padding: 6px 12px 6px 12px;
    }
    .dropTe-aPropos{
        font-size: 12px;
    }
    .dropTe-detail{
        font-size: 12px;
    }
    .dropDown-chevron{
        height: 8px;
        width: 15px;
    }
}