.dropTitle-aPropos{
    display: grid;
    grid-template-areas: "text chevron";
    align-items: center;
    background-color: #ff6060;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    padding: 0 16px 0 18px;
    height: 47px;
    border-radius: 5px;
}
.dropTitle-detail{
    display: grid;
    grid-template-areas: "text chevron";
    align-items: center;
    background-color: #ff6060;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    padding: 0 18px 0 20px;
    height: 52px;
    border-radius: 10px;
}
.dropDown-chevron{
    justify-self: end;
    height: 15px;
    width: 24px;
}
.dropText-aPropos{
    overflow: hidden;
    color: #ff6060;
    background-color: #F6F6F6;
    font-size: 24px;
    line-height: 142.6%;
    padding-top: 36px;
    padding-right: 27px;
    padding-bottom: 19px;
    padding-left: 18px;
}
.dropText-detail{
    overflow: hidden;
    color: #ff6060;
    background-color: #F6F6F6;
    font-size: 18px;
    line-height: 142.6%;
    padding-top: 40px;
    padding-right: 12px;
    padding-bottom: 27px;
    padding-left: 20px;
    height: fit-content;
}