.slider-wrapper:hover{
    filter: contrast(0.7);
}
.slider-box{
    display: grid;
    align-items: center;
    border-radius:25px;
    height: 100%;
}
.slider-wrapper{
    z-index: 1;
    border-radius:25px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.slider{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    background-position: center;
    background-size:cover;
}

.triger-hiden{
    display: none;
}

.slider-triger:hover{
    cursor: pointer;
    filter: invert(90%);
}
.slider-triger{
    width: 47px;
    height: 80px;
    margin: 0 24px 0 24px;
    background: none;
    border: none;
}
.next{
    background-position: center;
    background-size: cover;
    background-image: url("../../Assets/VectorToRight.png");
    justify-self: end;
    position: absolute;
    z-index: 2;
}
.previous{
    background-position: center;
    background-size:cover;
    background-image: url("../../Assets/VectorToLeft.png");
    justify-self: start;
    position: absolute;
    z-index: 2;
    orientation: -1;
}
.slider-count{
    color: white;
    margin: 0 0 24px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    position: absolute;
    z-index: 2;
    justify-self: center;
    align-self: flex-end;
}

@media only screen and (max-width: 1100px) {
    .slider-wrapper{
        border-radius:10px;
    }
    .slider-triger{
        width: 29px;
        height: 50px;
        margin: 0 6px 0 6px;
    }
    .slider-count{
        font-size: 14px;
    }
}
@media only screen and (max-width: 600px) {
    .slider-wrapper{
        border-radius:10px;
    }
    .slider-triger{
        width: 15px;
        height: 23px;
    }
}