.subHeader-box{
    position: relative;
    display: grid;
    grid-template-areas: 
        "title host"
        "tags stars"
    ;
    row-gap: 24px;
}
.detail-title{
    grid-area: title;
}
.detail-host{
    grid-area: host;
    justify-self: end;
}
.detail-tags{
    grid-area: tags;
}
.detail-stars{
    grid-area: stars;
    align-self: center;
    justify-self: end;
    width: 150px;
}
@media only screen and (max-width:1100px) {
    .subHeader-box{
        grid-template-areas: 
            "title title"
            "tags tags"
            "stars host"
        ;
        row-gap: 15px;
    }
    
    .detail-stars{
        justify-self: start;
    }
}
