.subHeader-container{
    position: relative;
    display: grid;
    grid-template-areas: 
        "title host"
        "tags stars"
    ;
}
.detail-title{
    grid-area: title;
}
.detail-host{
    grid-area: host;
    justify-self: end;
}
.detail-tags{
    grid-area: tags;
    margin-top: 24px;
}
.detail-stars{
    grid-area: stars;
    align-self: center;
    justify-self: end;
    width: 150px;
}
@media only screen and (max-width:800px) {
    
}