.aPropos-container{
    margin: 40px 100px 40px 100px;
}
.pictureApropos-container{
    margin-top:50px;
}
.dropDown-container{
    display: grid;
    margin: 33px 109px 33px 109px;
    row-gap: 30px;
}
@media only screen and (max-width: 1100px) {
    .aPropos-container{
        margin: 20px 20px 20px 20px;
    }
    .pictureApropos-container{
        margin-top:16px;
    }
    .dropDown-container{
        margin: 19px 30px 20px 30px;
        row-gap: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .dropDown-container{
        margin: 19px 0px 20px 0px;
        row-gap: 20px;
    }
}