.card{
    border-radius: 10px;
    height: 340px;
    padding: 0 20px 20px 20px;
    display: grid;
    align-items: flex-end;
    text-decoration: none;
}
.card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: white;
}
@media only screen and (max-width:800px) {
    .card{
        height: 255px;
    }
}