.link-header{
    color: #FF6060;
    font-weight: 500;
    font-size: 24px; 
}
.link-error{
    color: #FF6060;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
@media (max-width: 800px){
    .link-header{
        font-size: 12px;
    }
    .link-error{
        font-size: 14px;
    }
}