.detail-container{
    margin: 40px 100px 40px 100px;
}
.slider-container{
    margin-top:20px;
    height: 415px;
}
.sub-header{
    margin-top: 30px;
}
.dropDown-detailContainer{
    margin: 26px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "1 2";
    column-gap: 76px;
}

@media only screen and (max-width: 800px) {
    .detail-container{
        margin: 20px 20px 20px 20px;
    }
    .slider-container{
        margin-top:27px;
        height: 255px;
    }
    .sub-header{
        margin-top: 15px;
    }

}